.title-font{
    font-weight: bold;
}

@media (max-width: 464px) {
    .movie-slider {
      padding: 5px;
    }
  }
  
.carousel-container{
    overflow: hidden;
    height: 440px;
}

.title-section{
    margin: 2em;
}