.banner {
    height: 56vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;

}

.banner:before {
    content: '';
    background: linear-gradient(to top, black, transparent);
    position: absolute;
    left: 0;
    height: 56vh;
    width: 100%;
}

.banner-text-area {
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 2rem;
}

.banner-text-area>* {
    z-index: 2;
}

/* 모바일 뷰 */
@media (max-width: 464px) {
    .banner {
        height: 30vh;
        /* 매우 작은 화면에서 배너 높이 조정 */
        background-position: center;
        /* 배경 중앙 정렬 */
        padding: 0;
        /* 불필요한 패딩 제거 */
    }

    .banner:before {
        height: 30vh;
        /* 그라데이션의 높이도 조정 */
    }

    .banner-text-area {
        width: 90%;
        /* 더 작은 화면에서 너비 조정 */
        padding: 0.5rem;
        /* 더 작은 화면에서 패딩 조정 */
        position: relative;
        /* 텍스트 영역의 위치 설정 */
        z-index: 2;
        /* 텍스트가 그라데이션 위에 위치하도록 설정 */
    }


    .banner-text-area>* {
        z-index: 2;
    }

    .banner h1 {
        font-size: 1.5rem;
        /* 매우 작은 화면에서 폰트 크기 조정 */
    }

    .banner p {
        font-size: 0.75rem;
        /* 매우 작은 화면에서 폰트 크기 조정 */
    }
}